body {
  background-image: url("https://st.depositphotos.com/2459687/4236/v/950/depositphotos_42362629-stock-illustration-pretty-pastel-vector-seamless-patterns.jpg");
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.container {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.photos {
  height: 85%;
  width: 85%;
}

.description {
  word-wrap: normal;
  height: 300px;
  width: 400px;
  background-image: url("https://media.istockphoto.com/vectors/abstract-wool-rug-flooring-texture-seamless-vector-repeat-background-vector-id1299788670?k=20&m=1299788670&s=612x612&w=0&h=gfsX7MrmmBSC-l5EipzWkUNMUG5nhmWnHRs7Lp1_fb4=");
  text-align: center;
  padding-top: 200px;
  font-family: fantasy;
  font-size: 20px;
}

.likeText {
  font-family: fantasy;
  font-size: 30px;
}

.likeButton {
  font-size: 150%;
  margin-right: 10px;
}

.deleteButton{
  font-size: 150%;
  margin-left: 10px;
}