.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.container {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.photos {
  height: 85%;
  width: 85%;
}

.likeText {
  font-family: fantasy;
  font-size: 30px;
}

.likeButton {
  font-size: 150%;
  margin-right: 10px;
}

.deleteButton{
  font-size: 150%;
  margin-left: 10px;
}